.mainBody{
    height:100dvh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentArea{
    background-color: red;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-image: linear-gradient(to right,blue, white);

}

.detailsHere{
    margin-top: 10px;
    display: flex;
}

.col{
    margin: 0;
    padding: 0;
    margin-bottom: 0rem;
}

/* .myButton{
    background-color: blanchedalmond;
} */